<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<table>
  <thead>
    <tr>
      <th><h2>Category</h2></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><h2><%= category.category %></h2></td>
        <td><h2><%= link_to 'Show', category %></h2></td>
        <td><h2><%= link_to 'Edit', edit_category_path(category) %></h2></td>
        <td><h2><%= button_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></h2></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<h2>
<%= link_to 'New Category', new_category_path %></h2>
