<!DOCTYPE html>
<html>
  <head>
    <title>Mess</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="ui inverted menu">
      <div class="ui container">
      <a class="item">
        Chatroom
      </a>
      <a class="item">
        Messages
      </a>
      <div class="right menu">
        <div class="item">
            <div class="ui primary button">Sign Up</div>
        </div>
        <div class="item">
            <div class="ui primary button">Log In</div>
        </div>
        <div class="item">
            <div class="ui primary button">Log Out</div>
        </div>
      </div>
    </div>
    </div>
    <div class="ui container">
    <%= yield %>
  </div>
  </body>
</html>
